In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('jobs.db')

* Before we can execute a query, we need to express SQL query as a string. 
* WE can use the Connection class to represent the database we're working with, we use the Cursor class to
    * Run a query against the database
    * Parse the results from the database
    * Convert the results to native Python objects
    * Store the results within the Cursor instance as a local variable
* After running a query and converting the results to a list of tuples, the Cursor instance stores the list as a local variable.

In [3]:
cursor = conn.cursor()
# REturn a Cursor instance correspongding to the database we want to query

In [4]:
#SQL Query as a string
query = "select * from recent_grads;"
# Execute the query, convert the results to tuples, and store as a local variable
cursor.execute(query)
# Fetch the full results set as as list of tuples
results = cursor.fetchall()
print(results[:3])

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193), (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50), (2, 3, 2415, 'METALLURGICAL ENGINEERING', 'Engineering', 856, 3, 725, 131, 0.153037383, 648, 558, 133, 340, 16, 0.024096386, 73000, 50000, 105000, 456, 176, 0)]

In [6]:
query = "select Major from recent_grads;"
#cursor.execute(query)
majors = cursor.execute(query).fetchall()
print(majors[:3])

[('PETROLEUM ENGINEERING',), ('MINING AND MINERAL ENGINEERING',), ('METALLURGICAL ENGINEERING',)]

In [12]:
query = "select * from recent_grads limit 5;"
conn.execute(query).fetchmany(2)

[(0,
  1,
  2419,
  'PETROLEUM ENGINEERING',
  'Engineering',
  2339,
  36,
  2057,
  282,
  0.120564344,
  1976,
  1849,
  270,
  1207,
  37,
  0.018380527,
  110000,
  95000,
  125000,
  1534,
  364,
  193),
 (1,
  2,
  2416,
  'MINING AND MINERAL ENGINEERING',
  'Engineering',
  756,
  7,
  679,
  77,
  0.10185185199999999,
  640,
  556,
  170,
  388,
  85,
  0.117241379,
  75000,
  55000,
  90000,
  350,
  257,
  50)]

In [13]:
first_result = cursor.fetchone()
second_result = cursor.fetchone()
next_five_results = cursor.fetchmany(5)
print(first_result)

None

In [14]:
conn = sqlite3.connect("jobs.db")
cursor = conn.cursor()
query = "select Major, Major_category FROM recent_grads;"
cursor.execute(query)
five_results = cursor.fetchmany(5)
print(five_results)

[('PETROLEUM ENGINEERING', 'Engineering'), ('MINING AND MINERAL ENGINEERING', 'Engineering'), ('METALLURGICAL ENGINEERING', 'Engineering'), ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'), ('CHEMICAL ENGINEERING', 'Engineering')]

In [15]:
conn.close()

In [17]:
conn = sqlite3.connect("jobs2.db")
cursor = conn.cursor()
query = "select Major from recent_grads order by 1 desc"
reverse_alphabetical = cursor.execute(query).fetchall()
# conn.cursor().execute(query).fetchall()
conn.close()

In [18]:
reverse_alphabetical[:3]

[('ZOOLOGY',), ('VISUAL AND PERFORMING ARTS',), ('UNITED STATES HISTORY',)]