In [54]:
import numpy as np
import pandas as pd
import json
import re

* JSON JavaScript Object Notation

In [9]:
json_string = """
[
{"name": "Sabine",
"age": 36,
"favorite_foods": ["Pumpkin", "Oatmeal"]},
{"name":"Zoe",
"age":40,
"favorite_foods":["Chicken", "Pizza", "Chocolate"]
},
{
"name":"Heidi",
"age":40,
"favorite_foods":["Caesar Salad"]
}
]"""


json_obj = json.loads(json_string)
type(json_obj)

list

In [11]:
print(json_obj)

[{'name': 'Sabine', 'age': 36, 'favorite_foods': ['Pumpkin', 'Oatmeal']}, {'name': 'Zoe', 'age': 40, 'favorite_foods': ['Chicken', 'Pizza', 'Chocolate']}, {'name': 'Heidi', 'age': 40, 'favorite_foods': ['Caesar Salad']}]

* json.load() to load from a file
* json.loads() to load from a string, load string --> loads

In [12]:
with open('hn_2014.json') as f:
    hn = json.load(f)
type(hn)

list

In [13]:
len(hn)

35806

In [14]:
type(hn[0])

dict

In [15]:
print(hn[0].keys())

dict_keys(['author', 'numComments', 'points', 'url', 'storyText', 'createdAt', 'tags', 'createdAtI', 'title', 'objectId'])

In [16]:
hn[0]

{'author': 'dragongraphics',
 'numComments': 0,
 'points': 2,
 'url': 'http://ashleynolan.co.uk/blog/are-we-getting-too-sassy',
 'storyText': '',
 'createdAt': '2014-05-29T08:07:50Z',
 'tags': ['story', 'author_dragongraphics', 'story_7815238'],
 'createdAtI': 1401350870,
 'title': 'Are we getting too Sassy? Weighing up micro-optimisation vs. maintainability',
 'objectId': '7815238'}

#### json.dumps()
* json.dumps() ("dump string") does the opposite of the json.loads() function - it takes a JSON object and returns a string version of it.

In [19]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent = 4)
    print(text)

In [20]:
first_story = hn[0]
jprint(first_story)

{
    "author": "dragongraphics",
    "createdAt": "2014-05-29T08:07:50Z",
    "createdAtI": 1401350870,
    "numComments": 0,
    "objectId": "7815238",
    "points": 2,
    "storyText": "",
    "tags": [
        "story",
        "author_dragongraphics",
        "story_7815238"
    ],
    "title": "Are we getting too Sassy? Weighing up micro-optimisation vs. maintainability",
    "url": "http://ashleynolan.co.uk/blog/are-we-getting-too-sassy"
}

In [26]:
def del_key(dict_, key):
    # create a copy so we don't modify the original dict
    modified_dict = dict_.copy()
    del modified_dict[key]
    return modified_dict

In [28]:
first_story = del_key(first_story, 'createdAtI')
jprint(first_story)

{
    "author": "dragongraphics",
    "createdAt": "2014-05-29T08:07:50Z",
    "numComments": 0,
    "objectId": "7815238",
    "points": 2,
    "storyText": "",
    "tags": [
        "story",
        "author_dragongraphics",
        "story_7815238"
    ],
    "title": "Are we getting too Sassy? Weighing up micro-optimisation vs. maintainability",
    "url": "http://ashleynolan.co.uk/blog/are-we-getting-too-sassy"
}

In [29]:
hn_clean = []
for ele in hn:
    hn_clean.append(del_key(ele, 'createdAtI'))

In [31]:
jprint(hn_clean[0])

{
    "author": "dragongraphics",
    "createdAt": "2014-05-29T08:07:50Z",
    "numComments": 0,
    "objectId": "7815238",
    "points": 2,
    "storyText": "",
    "tags": [
        "story",
        "author_dragongraphics",
        "story_7815238"
    ],
    "title": "Are we getting too Sassy? Weighing up micro-optimisation vs. maintainability",
    "url": "http://ashleynolan.co.uk/blog/are-we-getting-too-sassy"
}

In [33]:
[del_key(ele, 'createdAtI') for ele in hn][0]

{'author': 'dragongraphics',
 'numComments': 0,
 'points': 2,
 'url': 'http://ashleynolan.co.uk/blog/are-we-getting-too-sassy',
 'storyText': '',
 'createdAt': '2014-05-29T08:07:50Z',
 'tags': ['story', 'author_dragongraphics', 'story_7815238'],
 'title': 'Are we getting too Sassy? Weighing up micro-optimisation vs. maintainability',
 'objectId': '7815238'}

In [34]:
["col_{}".format(i) for i in range(1,5)]

['col_1', 'col_2', 'col_3', 'col_4']

In [36]:
urls = [ele['url'] for ele in hn_clean]
len(urls)

35806

In [37]:
thousand_points = [ele for ele in hn_clean if ele['points'] > 1000]
num_thousand_points = len(thousand_points)

In [39]:
jprint(json_obj)

[
    {
        "age": 36,
        "favorite_foods": [
            "Pumpkin",
            "Oatmeal"
        ],
        "name": "Sabine"
    },
    {
        "age": 40,
        "favorite_foods": [
            "Chicken",
            "Pizza",
            "Chocolate"
        ],
        "name": "Zoe"
    },
    {
        "age": 40,
        "favorite_foods": [
            "Caesar Salad"
        ],
        "name": "Heidi"
    }
]

In [40]:
type(min)

builtin_function_or_method

In [44]:
def greet():
    return "greet"
def run_func(func):
    print("RUNNING FUNCTION: {}".format(func))
    return func()
run_func(greet)

RUNNING FUNCTION: <function greet at 0x7ff0a5160620>

'greet'

In [45]:
def get_age(json_dict):
    return json_dict['age']

In [51]:
sorted(json_obj, key = get_age)

[{'name': 'Sabine', 'age': 36, 'favorite_foods': ['Pumpkin', 'Oatmeal']},
 {'name': 'Zoe',
  'age': 40,
  'favorite_foods': ['Chicken', 'Pizza', 'Chocolate']},
 {'name': 'Heidi', 'age': 40, 'favorite_foods': ['Caesar Salad']}]

In [52]:
min(json_obj, key = get_age)

{'name': 'Sabine', 'age': 36, 'favorite_foods': ['Pumpkin', 'Oatmeal']}

In [53]:
def get_num(json_dict):
    return json_dict['numComments']
most_comments = max(hn_clean, key = get_num)
most_comments

{'author': 'platz',
 'numComments': 1208,
 'points': 889,
 'url': 'https://blog.mozilla.org/blog/2014/04/03/brendan-eich-steps-down-as-mozilla-ceo/',
 'storyText': None,
 'createdAt': '2014-04-03T19:02:53Z',
 'tags': ['story', 'author_platz', 'story_7525198'],
 'title': 'Brendan Eich Steps Down as Mozilla CEO',
 'objectId': '7525198'}

In [55]:
def extract_and_increment(string):
    digits = re.search(r"\d+", string).group()
    return int(digits) + 1
lambda string: int(re.search(r"\d+", string).group()) + 1

In [56]:
sorted(json_obj, key = lambda d : d['name'])

[{'name': 'Heidi', 'age': 40, 'favorite_foods': ['Caesar Salad']},
 {'name': 'Sabine', 'age': 36, 'favorite_foods': ['Pumpkin', 'Oatmeal']},
 {'name': 'Zoe',
  'age': 40,
  'favorite_foods': ['Chicken', 'Pizza', 'Chocolate']}]

In [57]:
min(json_obj, key = lambda d : d['age'])

{'name': 'Sabine', 'age': 36, 'favorite_foods': ['Pumpkin', 'Oatmeal']}

In [60]:
hn_sorted_points = sorted(hn_clean, key = lambda x : x['points'], reverse = True)
top_5_titles = [ele['title'] for ele in hn_sorted_points[:5]]
top_5_titles

['2048',
 'Today is The Day We Fight Back',
 'Wozniak: “Actually, the movie was largely a lie about me”',
 'Microsoft Open Sources C# Compiler',
 'Elon Musk: To the People of New Jersey']

### JSON data can  be converted to pandas dataframe
* pandas.read_json() is designed to read JSON from either a file or a JSON string

In [61]:
jprint(json_obj)

[
    {
        "age": 36,
        "favorite_foods": [
            "Pumpkin",
            "Oatmeal"
        ],
        "name": "Sabine"
    },
    {
        "age": 40,
        "favorite_foods": [
            "Chicken",
            "Pizza",
            "Chocolate"
        ],
        "name": "Zoe"
    },
    {
        "age": 40,
        "favorite_foods": [
            "Caesar Salad"
        ],
        "name": "Heidi"
    }
]

In [63]:
json_df = pd.DataFrame(json_obj)
json_df

     name  age               favorite_foods
0  Sabine   36           [Pumpkin, Oatmeal]
1     Zoe   40  [Chicken, Pizza, Chocolate]
2   Heidi   40               [Caesar Salad]

In [64]:
hn_df = pd.DataFrame(hn_clean)

In [65]:
hn_df.head()

,author,numComments,points,url,storyText,createdAt,tags,title,objectId
0,dragongraphics,0,2,http://ashleynolan.co.uk/blog/are-we-getting-t...,,2014-05-29T08:07:50Z,"[story, author_dragongraphics, story_7815238]",Are we getting too Sassy? Weighing up micro-op...,7815238
1,jcr,0,1,http://spectrum.ieee.org/automaton/robotics/ho...,,2014-05-29T08:05:58Z,"[story, author_jcr, story_7815234]",Telemba Turns Your Old Roomba and Tablet Into ...,7815234
2,callum85,0,1,http://online.wsj.com/articles/apple-to-buy-be...,,2014-05-29T08:05:06Z,"[story, author_callum85, story_7815230]",Apple Agrees to Buy Beats for $3 Billion,7815230
3,d3v3r0,0,1,http://alexsblog.org/2014/05/29/dont-wait-for-...,,2014-05-29T08:00:08Z,"[story, author_d3v3r0, story_7815222]",Don’t wait for inspiration,7815222
4,timmipetit,0,1,http://techcrunch.com/2014/05/28/hackerone-get...,,2014-05-29T07:46:19Z,"[story, author_timmipetit, story_7815191]",HackerOne Get $9M In Series A Funding To Build...,7815191

In [66]:
tags = hn_df.tags
tags.dtype

dtype('O')

In [67]:
tag_types = tags.apply(type)
type_counts = tag_types.value_counts(dropna=False)
type_counts

<class 'list'>    35806
Name: tags, dtype: int64

In [68]:
# Check tags length
tags.apply(len).value_counts(dropna=False)

3    33459
4     2347
Name: tags, dtype: int64

In [71]:
four_tags = tags[tags.apply(len) == 4]
four_tags.head()

43     [story, author_alamgir_mand, story_7813869, sh...
86       [story, author_cweagans, story_7812404, ask_hn]
104    [story, author_nightstrike789, story_7812099, ...
107    [story, author_ISeemToBeAVerb, story_7812048, ...
109       [story, author_Swizec, story_7812018, show_hn]
Name: tags, dtype: object

In [73]:
def extract_tag(l):
    if len(l) == 4:
        return l[-1]
    return None
# l[-1] if len(l) == 4 else None

In [ ]:
cleaned_tags = tags.apply(lambda l : l[-1] if len(l) == 4 else None)