In [1]:
class K_Means:
    def __init__(self, k = 3, tolerance = .0001, max_iterations = 500):
        self.k = k
        self.tolerance = tolerance
        self.max_iterations = max_iterations

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('ipl.csv')
df.head()

        one       two
0  0.227680  0.858204
1  0.979188  0.077151
2  0.504577  0.553114
3  0.058132  0.528098
4  0.775343  0.217922

In [5]:
dataset = df.values.tolist()
X = df.values

In [8]:
## Implementing Euclidean Distance for two features 
import math

def Euclidean_distance(feat_one, feat_two):
    squared_distance = 0
    
    for i in range(len(feat_one)):
        squared_distance += (feat_one[i] - feat_two[i]) ** 2
    ed = math.sqrt(squared_distance)
    return ed

## numpy.linalg.orm

In [ ]:
## initialize the centroids
for i in range()