# Part 1: Memory and Unicode

In [1]:
b = "100"
base_10_100 = int(b, 2)
base_10_100

4

In [2]:
def binaray_add(a,b):
    return bin(int(a, 2) + int(b,2))[2:]

In [3]:
b = "1"
c = binaray_add(b, "1")
c

'10'

In [4]:
c = binaray_add(c, "1")
c

'11'

In [5]:
bin(int("1", 2) + int("10", 2))

'0b11'

In [6]:
0b11111

31

In [7]:
base_10_1001 = 0b1001
base_10_1001 = int("1001", 2)
base_2_9 = bin(int("9"))
print(base_2_9)
base_10_1001

0b1001

9

In [8]:
a = 0
b = "0"
for i in range(10):
    a += 1
    b = binaray_add(b, "1")
print(a, int(b, 2))

10 10

## string --> character --> integer --> binary

In [9]:
binary_w = bin(ord('w'))
binary_bracket = bin(ord('}'))
print(binary_w, binary_bracket)

0b1110111 0b1111101

In [10]:
bin(ord('ÿ'))

'0b11111111'

In [11]:
code_point = '\u1019'
ord(code_point)
bin(ord(code_point))

'0b1000000011001'

In [12]:
'hello \u1019'

'hello မ'

In [13]:
[ord(c) for c in "Ning Li"]

[78, 105, 110, 103, 32, 76, 105]

In [14]:
superman = "Clark Ken\u1019"
print(superman)

Clark Kenမ

In [15]:
superman_bytes = "Clark Kent\u1019".encode('utf-8')
superman_bytes

b'Clark Kent\xe1\x80\x99'

In [16]:
'hello'.encode('utf-8')

b'hello'

In [17]:
print(int('F', 16))

15

In [18]:
print(int('A', 16))

10

In [19]:
def hexadecimal_add(a,b):
    return hex(int(a, 16) + int(b, 16))

In [20]:
value = '9'
value = hexadecimal_add(value, '1')
print(value)

0xa

In [21]:
hexadecimal_add('2', 'e')

'0x10'

In [22]:
hexadecimal_add('e', 'f')

'0x1d'

In [23]:
hex_byte = "â"
print(ord(hex_byte))
print(int('e2', 16))

226
226

In [24]:
## Convert the hexadecimal byte "\xaa" to binary
bin(int('aa', 16))

'0b10101010'

In [25]:
int('aa', 16)

170

In [26]:
ord('\xaa')

170

In [27]:
bin(ord('\xab')) == bin(int('ab', 16))

True

In [28]:
ord('\u1214')

4628

In [29]:
hulk_bytes = "Bruce Banner\u1019".encode('utf-8')

## We can't mix strings and bytes
## For instance, if we try to replace the Unicode \u1019 မ character as a string, it won't work
## because that value has been encoded to bytes
try:
    hulk_bytes.replace("Banner", "")
except Exception:
    print("TypeError with replacement")
    
print(hulk_bytes)

TypeError with replacement
b'Bruce Banner\xe1\x80\x99'

In [30]:
## We can create objects of the bytes data type by putting a b in front of the quotation marks in a string
hulk_bytes = b"Bruce Banner"
## NOw, instead of mixing strings and bytes, we can use the replace method with bytes objects instead
hulk_bytes.replace(b"Banner", b"")

b'Bruce '

In [31]:
aquaman_bytes = b"Who knows?"
aquaman = aquaman_bytes.decode('utf-8')

print(aquaman)
print(aquaman_bytes)
print(type(aquaman))
print(type(aquaman_bytes))

Who knows?
b'Who knows?'
<class 'str'>
<class 'bytes'>

In [32]:
####################################################################################################
import csv
f = open('sentences_cia.csv', 'r', encoding = 'utf-8')
csvreader = csv.reader(f)
sentences_cia = list(csvreader)
f.close()

In [33]:
print(sentences_cia[1][0])
print(sentences_cia[1][1])

1997
The FBI information included that al-Mairi's brother "traveled to Afghanistan in 1997-1998 to train in Bin - Ladencamps."

In [34]:
csvreader.__doc__

'CSV reader\n\nReader objects are responsible for reading and parsing tabular data\nin CSV format.\n'

In [35]:
##########################################################################################################
## pandas dataframe
import pandas as pd
with open('legislators.csv', 'r', encoding='utf-8') as f:
    csvreader = csv.reader(f)
    legislators = list(csvreader)

legislators_df = pd.DataFrame(legislators)
print(legislators_df.iloc[0,:])

0     last_name
1    first_name
2      birthday
3        gender
4          type
5         state
6         party
Name: 0, dtype: object

In [36]:
## Remove header
legislators_df = pd.DataFrame(legislators[1:], columns=legislators[0])
legislators_df.head()

  last_name  first_name    birthday gender type state                party
0   Bassett     Richard  1745-04-02      M  sen    DE  Anti-Administration
1     Bland  Theodorick  1742-03-21         rep    VA
2     Burke     Aedanus  1743-06-16         rep    SC
3   Carroll      Daniel  1730-07-22      M  rep    MD
4    Clymer      George  1739-03-16      M  rep    PA

In [37]:
sentences_cia = pd.DataFrame(sentences_cia[1:], columns = sentences_cia[0])
sentences_cia.head()

   year                                          statement
0  1997  The FBI information included that al-Mairi's b...
1  1997  The FBI information included that al-Mairi's b...
2  1997  For example, on October 12, 2004, another CIA ...
3  1997  On October 16, 2001, an email from a CTC offic...
4  1997  For example, on October 12, 2004, another CIA ...

## Process the strings to count term occurences.

In [38]:
# The integer codes for al the characters we want to keep
good_characters = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 
                   79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 
                   107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 32]

sentence_15 = sentences_cia["statement"][14]
sentence_15

'"^^\'\'^ There was also CIA reporting in 1998 that KSM was "very close" to On June 12, 2001, it was reported that "Khaled" was actively recruiting people to travel outside Afghanistan, including to the United States where colleagues were reportedly already in the country to meet them, to carry out terrorist-related activities for UBL.'

In [39]:
cleaned_sentence_15_list = [s for s in sentence_15 if ord(s) in good_characters]
cleaned_sentence_15 = "".join(cleaned_sentence_15_list)
cleaned_sentence_15

' There was also CIA reporting in 1998 that KSM was very close to On June 12 2001 it was reported that Khaled was actively recruiting people to travel outside Afghanistan including to the United States where colleagues were reportedly already in the country to meet them to carry out terroristrelated activities for UBL'

In [40]:
print([chr(i) for i in good_characters])

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', ' ']

In [41]:
sentences_cia.head()

   year                                          statement
0  1997  The FBI information included that al-Mairi's b...
1  1997  The FBI information included that al-Mairi's b...
2  1997  For example, on October 12, 2004, another CIA ...
3  1997  On October 16, 2001, an email from a CTC offic...
4  1997  For example, on October 12, 2004, another CIA ...

In [42]:
def clean_row(row):
    good_characters = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 
                   79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 
                   107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 32]
    sen = row['statement']
    clean_sen = ''.join([c for c in sen if ord(c) in good_characters])
    return clean_sen

In [43]:
clean_statement = sentences_cia.apply(clean_row, axis = 1)

In [44]:
sentences_cia['cleaned_statement'] = clean_statement

In [45]:
sentences_cia.head()

,year,statement,,,,cleaned_statement
0,1997,The FBI information included that al-Mairi's b...,,,,The FBI information included that alMairis bro...
1,1997,The FBI information included that al-Mairi's b...,,,,The FBI information included that alMairis bro...
2,1997,"For example, on October 12, 2004, another CIA ...",,,,For example on October 12 2004 another CIA det...
3,1997,"On October 16, 2001, an email from a CTC offic...",,,,On October 16 2001 an email from a CTC officer...
4,1997,"For example, on October 12, 2004, another CIA ...",,,,For example on October 12 2004 another CIA det...

In [46]:
combined_statements = ' '.join(sentences_cia['cleaned_statement'])

In [47]:
statement_tokens = combined_statements.split(' ')

In [48]:
## Filter the statement_tokens list so that it only contains at least five characters long
filtered_tokens = [word for word in statement_tokens if len(word) >= 5]

In [49]:
from collections import Counter
fruits = ["apple", "apple", "banana", "orange", "pear", "orange", "apple", "grape"]
fruit_count = Counter(fruits)
print(fruit_count)

Counter({'apple': 3, 'orange': 2, 'banana': 1, 'pear': 1, 'grape': 1})

In [50]:
filtered_token_counts = Counter(filtered_tokens)

In [51]:
print(fruit_count.most_common(3))

[('apple', 3), ('orange', 2), ('banana', 1)]

In [52]:
common_tokens = filtered_token_counts.most_common(3)
common_tokens

[('interrogation', 391), ('information', 375), ('REDACTED', 375)]

## Computes the most common terms by year

In [53]:
def year_most_term(year):
    ## year is string type
    year_df = sentences_cia[sentences_cia['year'] == year]
    year_statement = year_df['cleaned_statement']
    year_statement_list = " ".join(year_statement).split(" ")
    year_list = [word for word in year_statement_list if len(word) > 4]
    return Counter(year_list).most_common(2)

In [54]:
common_2000 = year_most_term('2000')
common_2002 = year_most_term('2002')
common_2013 = year_most_term('2013')

# Part 2 Algorithms

## An algorithm is a well-defined series of steps for performing a task, such as making caculations or processing data.

In [55]:
with open('nba_2013.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    data = list(reader)
    nba_head = data[0]
    nba = data[1:]

In [56]:
player = None
for person in nba:
    if person[0] == 'Kobe Bryant':
        player = person
        break
player

['Kobe Bryant',
 'SG',
 '35',
 'LAL',
 '6',
 '6',
 '177',
 '31',
 '73',
 '0.425',
 '3',
 '16',
 '0.1875',
 '28',
 '57',
 '0.491228070175439',
 '0.445',
 '18',
 '21',
 '0.857',
 '2',
 '24',
 '26',
 '38',
 '7',
 '1',
 '34',
 '9',
 '83',
 '2013-2014',
 '2013']

In [57]:
if player:
    kobe_position = player[1]
kobe_position

'SG'

## Modular and Abstraction
* **Module** code consists of smaller chunks that we can reuse for other things. The most common way to make code modular is to use functions.
* **Abstraction** is the idea that someone can use our code to perform an operation without having to worry about how we wrote or implemented it.

*The sum() function exhibits both modularity and abstraction. We don't know exactly how the function is implemented, and we don't need to; we only need to know what it does. That makes it abstract. It also saves us the work of having to manually compute sums in many parts of our code. That makes it modular.

In [58]:
def player_age(name):
    for player in nba:
        if player[0] == name:
            return player[2]
    return -1

In [59]:
allen_age = player_age("Ray Allen")
allen_age

'38'

## Time complexity

* **Time complexity** is a measurement of how much time an algorithm takes with respect to its input size.

* Algorithms that takes a constant number of steps are always constant time, even if that constant time is ont 1.

** **Linear time** the runtime grows at a constant rate with respect to the size of the input

In [60]:
def is_empty(ls):
    for element in ls:
        return False
    return True
## Constant

## Big-O Notation

## O(1) constant, O(n) linear

#  Part 3  Binary Search

## Time complexity: O(log(n))

In [61]:
5//2

2

In [62]:
import math
math.floor(2.5)

2

In [94]:
## Extract a player's last name, last name + first name
def format_name(name):
    return name.split(" ")[1] + " " + name.split(" ")[0]
length = len(nba)
def player_age(name):
    name = format_name(name)
    
    upper_bound = length - 1
    lower_bound = 0
    
    first_guess_index = math.floor(length/2)
    first_guess = format_name(nba[first_guess_index][0])
    
    if name == first_guess:
        return first_guess
    elif name > first_guess:
        lower_bound = first_guess_index + 1
    else:
        upper_bound = first_guess_index - 1
    second_guess_index = math.floor((lower_bound + upper_bound) / 2)
    second_guess = format_name(nba[second_guess_index][0])
    return second_guess

In [86]:
gasol_age = player_age("Pau Gasol")
pierce_age = player_age("Paul Pierce")

In [87]:
## Pseudo-code
"""
If the name comes before our guess
    Adjust the bounds as needed
Else if the name comes after our guess
    Adjust the bounds as needed
Else
    Player found, so return first guess"""

'\nIf the name comes before our guess\n    Adjust the bounds as needed\nElse if the name comes after our guess\n    Adjust the bounds as needed\nElse\n    Player found, so return first guess'

In [91]:
def player_age(name):
    name = format_name(name)
    
    upper_bound = length - 1
    lower_bound = 0
    
    index = math.floor((upper_bound + lower_bound) / 2)
    guess = format_name(nba[index][0])
    
    while upper_bound > lower_bound:
        if name < guess:
            upper_bound = index - 1
        elif name > guess:
            lower_bound = index + 1
        else:
            return nba[index][2]
        index = math.floor((upper_bound + lower_bound) / 2)
        guess = format_name(nba[index][0])
    return -1

In [92]:
carmelo_age = player_age("Carmelo Anthony")

In [93]:
carmelo_age

'29'